// Colors

$green: #69B868;
$white: #FFFFFF;
$beige: #DFDCCC;
$black: #333333;

.donation-form {
  background-color: $green;
  width: 25vw;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.step-one {
  color: $white;
  input[type="email"], input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $white;
  }
}
